@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
         url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
         url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
         url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
         url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black.woff2') format('woff2'),
         url('../fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1340px;
    /*border: 1px solid red;*/
    margin: 0 auto;
    box-sizing: border-box;
}

.link-decoration{
    text-decoration: none;
    color: white;
}

.box-left{
    float: left;
}

.box-right{
    float: right;
}

section::after{
    content: " ";
    clear: both;
}

/*    SECTIONS TITLE   */

.title{
    width: 100%;
    font-size: 19px;
    color: #5C5C5C;
    letter-spacing: 0.5px;
    font-family: raleway, sans-serif;
    position: relative;
}

.big-line{
    height: 10px;
    width: 410px;
    background-color: #2eb9a0;
    position: absolute;
    top: 41px;
}

/*HEADER + LOGO*/

header{
    width: 100%;
    height: 60px;
    background-color: black;
    position: relative;
}

header > .container{
    height: 60px;
}

.logo{
    padding: 20px 0;
    color: white;
    font-size: 18px;
    font-family: ralewaymedium, sans-serif;
    letter-spacing: 2px;
}

header span>span{
    color: #2eb9a0;
    font-size: 18px;
    font-family: ralewayextrabold, sans-serif;
}

/*MENU - NAVIGATION*/

.nav{
    padding: 20px 0;
    position: relative;

}
.nav-item{
    display: inline-block;
    letter-spacing: 2px;
}

.nav-item > a{
    font-size: 18px;
    font-family: ralewaysemibold, sans-serif;
}

.nav-item:nth-child(2){
    margin: 0 45px;
}

.block{
    visibility: hidden;
    width: 120px;
    height: 40px;
    background-color: none;
    position: relative;
    z-index: 100;
}

.square{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: 45px;
    background-color: black;
    transform: rotate(45deg);
}

.nav-list{
    visibility: hidden;
    background-color: black;
    position: absolute;
    right: 267px;
    top: 80px;
    padding: 10px 0;
    z-index: 1000;
}

.nav-item-list{
    display: block;
    width: 120px;
    height: 21px;
    padding: 8px 20px;
    font-family: ralewaylight, sans-serif;
    letter-spacing: 1.1px;
    font-size: 19px;
}

.nav-item:hover .block,
.nav-item:hover .nav-list{
    visibility: visible;
}

.nav-item-list:hover .link-decoration {
    color: #2eb9a0;
}

/* CONTENT */

main{
    height: 630px;
    width: 100%;
    background-image: url("../images/gradient.png");
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: raleway, sans-serif;
}

main > .container {
    height: 630px;
}

.slider-btn{
    font-size: 102px;
    color: #2eb9a0;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 253px;
    font-family: ralewaylight, sans-serif;
    cursor: pointer;
    z-index: 100;
}

.next{
    right: 90px;
    text-align: right;
}

.slide1 > img{
    transform: scale(1.65);
    position: absolute;
    top: 174px;
    left: 170px;
}

.content{
    height: 350px;
    width: 550px;
    position: absolute;
    top: 155px;
    right: 265px;
    text-align: center;
}

.slide1 h1{
    font-size: 51px;
    font-family: raleway;
}

.slide1 span{
    font-family: ralewaybold;
    color: #2eb9a0;
}

.slide1 p{
    font-family: ralewaymedium;
    font-size: 19px;
    line-height: 28px;
    margin: 35px 0;
}

.btn{
    background-color: #2eb9a0;
    padding: 15px 50px;
    font-size: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    left: 110px;
}

/* GALLERY */

.gallery{
    height: 390px;
    width: 100%;
    padding: 40px 0;
}

.gallery > .container{
    height: 400px;
}

.small-box{
    width:420px;
    height: 300px;
    border: 1px solid #c2c2c2;
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
    position: relative;
    letter-spacing: -0.5px;
}

.small-box:nth-child(2){
    margin: 0px 36.6px;
    background-image: url("../images/box2_img.jpg");
}

.small-box:nth-child(3){
    font-family: raleway, sans-serif;
    background-image: none;
    padding: 38px 30px;
    width: 360px;
    height: auto;
}

.stripe{
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    width: 100%;
    height: 85px;
    bottom: 18px;
}

.small-box h2{
    position: relative;
    top: 18px;
    left: 19px;
    font-size: 21px;
    font-family: ralewaybold, sans-serif;
}

.small-box:nth-child(3) > h2 {
    top: 0;
    left: 0;
    margin: 0 0 30px 0;
}

.small-box p{
    margin: 25px 0;
    line-height: 26px;
    font-size: 18px;
    color: gray;
}

.line{
    position: absolute;
    top: 44px;
    height: 10px;
    width: 180px;
    background-color: #28c7aa;
    margin-left: 18px;
}

article > .line{
    position: absolute;
    top: 66px;
    left: 12px;
}

/*     PRICE LIST    */

.price-list{
    height: 850px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 60px 0;
    position: relative;
}

.price-list > .container{
    height: 850px;
}

.price-board{
    height: 660px;
    width: 416px;
    background-color: #f9f9f9;
    position: relative;
    border: 3px solid #d5d5d5;
    margin-top: 125px;
    border-radius: 4px;
    font-family: raleway, sans-serif;
}

.top-circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #d5d5d5;
    background-color: #f9f9f9;
    position: absolute;
    top: -52px;
    left: 170.6px;
}

.inner-circle{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin: auto;
    background-color: #c2c2c2;
    position: absolute;
    top: 25%;
    left: 25%;
}

.price-board > p{
    color: #27c7ab;
    font-size: 34px;
    text-align: center;
    margin: 35px 0 30px 0;
    letter-spacing: -1.5px;
    font-family: 'Open Sans', sans-serif; /* INNA CZCIONKA! */
}

.price{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #d5d5d5;
    position: absolute;
    left: 120.6px;
    color: #c2c2c2;
    font-family: ralewaybold, sans-serif;
}

.price > .num1{
    position: absolute;
    top: 35px;
    left: 41px;
    font-size: 62px;

}

.price > .num2{
    position: absolute;
    right: 35px;
    top: 40px;
    font-size: 20px;
}

.price > .peroid{
    position: absolute;
    bottom: 20%;
    left: 18.33%;
    font-family: ralewaysemibold, sans-serif;
    font-size: 22px;
}

.offer{
    width: 100%;
    position: absolute;
    top: 340px;
    background-color: #f1f1f1;
    color: gray;
}

.offer li{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.offer li:nth-child(2n+1){
    background-color: #e4e4e4;
}

.lil-btn{
    width: 155px;
    height: 42px;
    border-radius: 10px;
    position: absolute;
    bottom: 25px;
    left: 128.9px;
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}

.lil-btn > span{
    font-size: 20px;
    padding: 8px;
    position: absolute;
    left: 29px;
}

/*    SECOND PRICE BOARD  */
.price-board:nth-of-type(3){
    margin: 125px 38px;
}

/*    THIRD PRICE BOARD    */
.price-board:last-of-type .num1{
    left: 20px;
}

/* CURRENTLY ACTIVE BOARD  (FOR THE FUTURE PLANS) */

.active,
.active > .top-circle{
    background-color: #27c7ab;
    border: 3px solid #27c7ab;
}

.active .inner-circle{
    background-color: white;
}

.active > p{
    color: white;
}

.active .lil-btn,
.active .price{
    background-color: white;
    border: 2px solid white;
    color:#27c7ab;
}

.active .lil-btn > span{
    color: #27c7ab;
    font-family: ralewaysemibold, sans-serif;
}

.active .offer{
    background-color: #f1f1f1;
}
.active .offer li:nth-child(2n+1){
    background-color: #ffffff;
}

/*    CONTACT    */

.contact{
    height: 600px;
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.contact > .container{
    height: 600px;
}

form{
    position: absolute;
    top: 125px;
}

input{
    font-size: 40px;
    font-family: ralewaylight, sans-serif;
    display: block;
    width: 782px;
    height: 20px;
    margin: 37px 0;
    padding: 30px 18px;
    border: 2px solid #a1e6d1;
}

textarea{
    width: 782px;
    height: 180px;
    resize: none;
    border: 2px solid #a1e6d1;
    padding: 30px 18px;
    font-size: 40px;
    font-family: ralewaylight, sans-serif;
}

::-webkit-input-placeholder { /* Chrome */
  color: #d7d7d7;
}

input[type="button"]{
    width: 436px;
    height: 90px;
    background-color: #24ba9f;
    border-radius: 10px;
    position: absolute;
    right: -500px;
    bottom: -35px;
    font-size: 45px;
    font-family: ralewaybold, sans-serif;
    color: white;
    cursor: pointer;
    padding: 18px
}

.form-images{
    width: 420px;
    margin-right: 30px;
    height: 500px;
}

.red-chair{
    display: block;
    width: 80%;
    margin: 50px auto;
}

.checkbox{
    width: 418px;
    height: 100px;
    position: absolute;
    bottom: 160px;
}

.checkbox-img{
    border: 2px solid #a1e6d1;
    padding: 10px 4px;
    transform: scale(1.1);
    margin-left: 2px;
}

.checkbox p{
    width: 340px;
    height: auto;
    padding: 5px 0 5px 15px;
    font-family: raleway, sans-serif;
    font-size: 24px;
    color: #d7d7d7;
    line-height: -0.3px;
}

.contact::after{
    content: " ";
    clear: both;
}

/*    FOOTER    */

footer{
    height: 100px;
    width: 100%;
    font-family: ralewaymedium, sans-serif;
    color: #999999;
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-top: 65px;
}

footer li{
    display: inline-block;
    transform: scale(1.28);
    margin: 0 4px;
}

.mini-box{
    width: 255px;
    text-align: right;
}

.copy{
    transform: translateY(12px);
}

footer .logo{
    color: #999999;
    font-size: 26px;
    font-size: ralewaybold, sans-serif;
    transform: translateY(-13px);
    letter-spacing: 0.5px;
}

footer span>span{
    font-family: ralewayextrabold, sans-serif;
}
